@import "tailwindcss";
@import "./typography.css";

@theme {
  /* neutral grey (Figma Neutral-Grey scale) */
  --color-neutral-grey-900: #1a1a1a;

  /* grey scale */
  --color-grey-0: #ffffff;
  --color-grey-50: #f7faff;
  --color-grey-100: #dee6ef;
  --color-grey-200: #c8d1dc;
  --color-grey-300: #b3bdc8;
  --color-grey-400: #9fa9b5;
  --color-grey-500: #8b95a1;
  --color-grey-600: #6c7580;
  --color-grey-700: #4e5761;
  --color-grey-800: #333a42;
  --color-grey-900: #1a1f26;
  --color-grey-950: #05080c;

  /* primary */
  --color-primary-50: #e4ecff;
  --color-primary-100: #c9daff;
  --color-primary-200: #9bb9ff;
  --color-primary-300: #6e96ff;
  --color-primary-400: #426eff;
  --color-primary-500: #2f52eb;

  /* category */
  --color-category-mint: #c7f1f6;
  --color-category-mint-bg: #eafcfe;
  --color-category-mint-text: #24b8c8;
  --color-category-purple: #d7d9ff;
  --color-category-purple-bg: #f2f0ff;
  --color-category-purple-text: #4c59e3;
  --color-category-pink: #f6dcf9;
  --color-category-pink-bg: #fdf3ff;
  --color-category-pink-text: #d769e7;
  --color-category-coral: #fcdcd2;
  --color-category-coral-bg: #fff5f2;
  --color-category-coral-text: #f46f4e;

  /* error */
  --color-error-bg: #fff3f4;
  --color-error-border: #ffb7b4;
  --color-error-text: #f25152;
}

@layer utilities {
  .memo-card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 12;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* 홈 */
  .bg-home {
    background:
      linear-gradient(0deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%),
      url('/images/background.jpg') lightgray 0px -0.093px / 127.431% 100.018% no-repeat;
  }

  .bg-primary-gradient {
    background: linear-gradient(121deg, #4873ff 0%, #426eff 35.58%, #2d50e9 100%);
  }

  .bg-toggle-on {
    background: rgba(0, 17, 78, 0.35);
  }
}
